<mat-horizontal-stepper linear #stepper labelPosition="bottom">
  <mat-step>
    <ng-template matStepLabel>Часть тела</ng-template>
    <ng-container
      *ngTemplateOutlet="
        body;
        context: {
          main: appService.questions[appService.current].main,
          answers: appService.questions[appService.current].answers
        }
      "
    ></ng-container>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Секция</ng-template>
    <ng-container
      *ngTemplateOutlet="body; context: { main: 'Hello' }"
    ></ng-container>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>От</ng-template>
    <ng-container
      *ngTemplateOutlet="body; context: { main: 'Hello' }"
    ></ng-container>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>К</ng-template>
    <ng-container
      *ngTemplateOutlet="body; context: { main: 'Hello' }"
    ></ng-container>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Функия</ng-template>
    <ng-container
      *ngTemplateOutlet="body; context: { main: 'Hello' }"
    ></ng-container>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Иннервация</ng-template>
    <ng-container
      *ngTemplateOutlet="body; context: { main: 'Hello' }"
    ></ng-container>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Кровь</ng-template>
    <ng-container
      *ngTemplateOutlet="body; context: { main: 'Hello' }"
    ></ng-container>
  </mat-step>

  <ng-template matStepperIcon="number" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
</mat-horizontal-stepper>

<ng-template #body let-main="main" let-answers="answers">
  <div class="main-body">
    <mat-card class="main-card">
      <p class="content">{{ main }}</p>
      <p class="status">{{ appService.current }}/{{ appService.count }}</p>
    </mat-card>
    <div class="grid">
      <mat-card *ngFor="let answer of answers" (click)="stepper.next()">
        <p class="answer">{{ answer }}</p>
      </mat-card>
    </div>
  </div>
</ng-template>
