<mat-horizontal-stepper #stepper labelPosition="bottom">
  <mat-step *ngFor="let step of steps" [stepControl]="step.control">
    <ng-template matStepLabel>{{ step.label }}</ng-template>
    <ng-container
      *ngTemplateOutlet="
        body;
        context: {
          main: appService.questions[questionIndex].main,
          answers: appService.questions[questionIndex].answers,
          question: appService.questions[questionIndex]
        }
      "
    ></ng-container>
  </mat-step>

  <ng-template matStepperIcon="number" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
  <ng-template matStepperIcon="error" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
</mat-horizontal-stepper>

<ng-template
  #body
  let-main="main"
  let-answers="answers"
  let-question="question"
>
  <div class="main-body">
    <mat-card class="main-card">
      <p class="content" fittext>{{ main }}</p>
      <p class="status">
        {{ appService.curMuscle + 1 }}/{{ appService.count }}
      </p>
    </mat-card>
    <div class="grid">
      <mat-card
        *ngFor="let answer of answers; let i = index"
        [ngClass]="{
          active: curAnswerIndex === i,
          success: validIndex === i && submitted,
          error: !isSuccess && curAnswerIndex === i && submitted
        }"
        (click)="!submitted && (curAnswerIndex = i)"
        (dblclick)="!submitted && submit(question)"
      >
        <div class="answer" fittext>{{ answer.name }}</div>
      </mat-card>
    </div>
    <button
      [disabled]="curAnswerIndex === null"
      class="button"
      (click)="submit(question)"
    >
      {{ submitText }}
    </button>
  </div>
</ng-template>
