<mat-horizontal-stepper linear #stepper labelPosition="bottom">
  <mat-step *ngFor="let step of steps">
    <ng-template matStepLabel>{{ step.label }}</ng-template>
    <ng-container
      *ngTemplateOutlet="
        body;
        context: {
          main: appService.questions[appService.current].main,
          answers: appService.questions[appService.current].answers,
          question: appService.questions[appService.current]
        }
      "
    ></ng-container>
  </mat-step>

  <ng-template matStepperIcon="number" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <span>
      {{ index + 1 }}
    </span>
  </ng-template>
</mat-horizontal-stepper>

<ng-template
  #body
  let-main="main"
  let-answers="answers"
  let-question="question"
>
  <div class="main-body">
    <mat-card class="main-card">
      <p class="content">{{ main }}</p>
      <p class="status">{{ appService.current + 1 }}/{{ appService.count }}</p>
    </mat-card>
    <div class="grid">
      <mat-card
        *ngFor="let answer of answers; let i = index"
        [ngClass]="{
          active: curIndex === i,
          success: isSuccess && curIndex === i && submitted,
          error: !isSuccess && curIndex === i && submitted
        }"
        (click)="!submitted && (curIndex = i)"
      >
        <p class="answer">{{ answer }}</p>
      </mat-card>
    </div>
    <button
      [disabled]="curIndex === null"
      class="button"
      (click)="submit(question)"
    >
      {{ submitText }}
    </button>
  </div>
</ng-template>
