$success: rgb(72, 194, 103);
$error: rgb(194, 72, 72);
$current: rgb(104, 154, 211);

:host ::ng-deep {
  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background: transparent;
  }
  .mat-step-header {
    pointer-events: none !important;
    .mat-step-icon {
      font-weight: 500;
      background-color: white;
      color: #969ba5;
      border: 1px solid #e6e6e6;
    }

    .mat-step-icon-invalid {
      background-color: #f2f4f7;
    }

    .mat-step-icon-selected {
      border-color: $current;
      background-color: $current;
      color: white;
    }

    .mat-step-icon-state-error {
      background-color: $error;
      color: white;
      border-color: transparent;
    }

    .mat-step-icon-state-edit {
      background-color: $success;
      color: white;
      border-color: transparent;
    }
  }
  .mat-stepper-label-position-bottom {
    .mat-horizontal-stepper-header::after,
    .mat-horizontal-stepper-header::before,
    .mat-stepper-horizontal-line {
      top: 2.1em;
    }
  }

  .mat-card {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    &.active {
      background: $current;
    }
    &.success {
      background: $success;
    }
    &.error {
      background: $error;
    }
  }

  .grid {
    display: grid;
    gap: 2vmin;
    grid-template-columns: 1fr 1fr;
    .mat-card {
      cursor: pointer;
    }
  }

  .main-body {
    width: 100%;
    height: 80vh;
  }

  .main-card {
    width: 50vw;
    height: 20vh;
    margin: 0 auto 2vmin auto;
  }

  .status {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2em;
  }

  .content {
    font-size: 5em;
  }

  .answer {
    font-size: 3em;
    user-select: none;
  }

  .button {
    margin: -1em auto;
  }
}
